<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919456650919-oshm98demivak0021fn0ehm5mn46nfj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919456650919-oshm98demivak0021fn0ehm5mn46nfj7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>919456650919-bjodavv6vl6f162892dkk4o9ln1russ2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS-C5dyxVQHIxu4yUouBGgg6LN7q-PtsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>919456650919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxflutter</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-3c023</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-3c023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919456650919:ios:daf2b9cb86a9fd9fe1ad82</string>
</dict>
</plist>